<div class="container">
    <div class="row">
        <div class="col">
            <!-- <h1>GO</h1> -->
            <img src="../../../assets/img/logo1.png" alt="playground icon">
        </div>
        <span class="spacer"></span>
        <div class="col">
            <button class="btn-green" (click)="onLogout()">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Gen AI Playground</h1>
        </div>
        <span class="spacer"></span>
        <div class="col">
            <ul>
                <li><a routerLink="/home-openai">Home</a></li>
                <li><a routerLink="/leaderboard">Leaderboard</a></li>
                <li><a routerLink="">Playground</a></li>
                <li><a href="">Resources</a></li>
            </ul>
        </div>
    </div>
</div>
