.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #030637;
    color: white;
}
.container form{
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
}
.row{
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}
.row input{
    border: none;
    width: 12rem;
    height: 1.5rem;
    outline: none;
    font-size: small;
}
.row label{
    margin: .5rem 0;
}
.btn{
    display: flex;
    padding: .5rem;
}
.btn button{
    /* background-color: transparent; */
    background-color: #030637;
    padding: .5rem 1rem;
}
.btn-cancel{
    border: 2px solid #EB5353;
    color: #EB5353;
}
.btn button.btn-cancel:hover{
    color: white;
    cursor: pointer;
    background-color: #EB5353;
}
.btn-success{
    border: 2px solid #50D890;
    color: #50D890;
}
.btn button.btn-success:hover{
    cursor: pointer;
    background-color: #50D890;
    color: white;
}
.spacer{
    flex: 1 1 auto;
}