<app-navbar></app-navbar>
<div class="container">
    <div class="nav">
        <div class="title">
          <h1>Image Generation</h1>
        </div>
      </div>
      <div class="msg">
        <div class="card">
            <h2>Generate An Image</h2>
            <div class="gray">

                <p>Create image using descriptive text with AI</p>
                <h5>Welcom to GenAI ImageGenerator World!</h5>
                <h5><span>ⓘ</span>Use the tool responsibly and do not create any offensive content.</h5>
            </div>
        </div>
      </div>
      <div class="search">
        <input type="text" placeholder="Ask a question" />
        <img src="../../../assets/img/microphone.png" alt="" />
        <img src="../../../assets/img/send-message.png" alt="" />
      </div>
  
</div>