<app-navbar></app-navbar>
<div class="container">
    <h2>Bring Your Onw File(s)</h2>
    <form action="">
        <label for=""><h2>Choose Your File(s) to Upload</h2></label>
        <p>Only .txt, .doc, .pdf, . ppt, spreadsheets(.csv, .xls, .xlsx) and images (.jpg, .jpeg, .png) files are allowed (max Size 16 MB)</p>
        <input type="file" #fileDropRef name="" id="" multiple>
    </form>
    <div class="check-box">
        <input type="checkbox" name="" id="">
        <label for="">Are you uploading an image?</label>
    </div>
</div>