<app-navbar></app-navbar>

<div class="container">
    <div class="left-section">
        <div class="title">
            <h3>Welcome to Generative AI Playground</h3>
            <p>Your genpact certified safe space for gen AI-enabled innovation</p>
        </div>
        <div class="cards" >
                <div *ngFor="let card of cards" class="card" routerLink={{card.link}}>
                    <h3>{{card.title}}</h3>
                </div>
        
                 <!-- <a class="card">
                    <h3>Playground Library</h3>
                </a>
            
                <a class="card" routerLink="bring-your-own-file">
                    <h3>Bring Your Own Files</h3>
                </a>

                <a class="card">
                    <h3>Translate Your Files</h3> 
                </a>
            
                <a class="card">
                    <h3>Transcribe Your Files</h3> 
                </a>
          
                <a class="card">
                    <h3>Research Assistant</h3>
                </a>
            
                <a routerLink="image-generator" class="card">
                    <h3>Image Generator</h3>
                </a>
              -->
        </div>
    </div>
    <div class="right-section">

    </div>
</div>
<router-outlet></router-outlet>