.container{
    /* display: grid; */
    /* grid-template-columns: 2.5fr 1fr; */
    /* justify-content: center; */
}
.left-section{
    /* border: 2px solid red; */
    padding: 1.5rem;
}
.title{
    font-size: medium;
    padding: 0 0 1.5rem 0;
}
.left-section{
    width: 90vw;
}
.cards{
    display: grid;
    /* grid: 150px / auto auto auto; */
    grid-template-columns: repeat(auto-fill, 17rem);
    /* grid-auto-flow: row; */
    /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(auto-fit,1fr); */
    gap: 1.3rem;
    /* justify-content: flex-start; */
}

.card{
    height: 8rem;
    box-shadow: 0 0 1rem #53b6e0;
    color: #4AABCA;
    text-align: center;
    text-decoration: none;
    border-left: 2px solid #1C82AD;
}
.inside-card{
}
.card:hover{
    cursor:pointer;

    box-shadow: -1px -1px -10rem #1C82AD;
}
