.container{
    margin: 1rem;
    display: flex;
    column-gap: 1rem;
}
.left-side-section{
    background-color: #161A30;
    width: 22vw;
    color: #ffffff;
    padding: .5rem 1rem;
}
.title, .chat{
    display: flex;
    align-items: center;
}
.chat>span{
    margin: 0 .5rem;
}

.spacer{
    flex: 1 1 auto;
}
.right-side-section{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #161A30;
    color: #4AABCA;
    align-items: center;
    padding: 0 1rem;
}
img{
    width: 1.5rem;
    height: 1.5rem;
}
img:hover{
    cursor: pointer;
}
.title h1{
    margin: .8rem;
}
.count{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.msg{
    height: 50vh;
    background-color: #f4f5ee;
    border: 1px solid #B6BBC4;
}
.search{
    margin-top: 1rem;
    border: 1px solid #B6BBC4;
    width: 99.9%;
    display: flex;
    height: 3rem;
    align-items: center;
}
.search input{
    height: 2.5rem;
    width: 100%;
    border: none;
    padding: 0 1rem;
    outline: none;
    font-size: large;
}
.search img{
    padding: 0 1rem;
}